table, tr, td, th { padding: 2px; margin: 0px ;white-space:pre;  border-bottom: 1px solid #ddd; color: white;}
th { background-color: #4CAF50; color: white;}
table { width:95%;margin-left:5px; margin-bottom:20px; border: 1px solid black;} 
 body { background-color: black;}

h1 {
  color: #4CAF50;
  text-align: center;
}